
#editor-container, #drum-editor-container {
    margin-bottom: 10px;

    .editor-info {
        margin-bottom: 10px;
        .editor-info-row {
            display: flex;
            align-items: center;
            height: 30px;
            label {
                flex: 0 0 15%;
            }
            input {
                flex: 0 0 10%;
                &#track-name {
                    flex: 0 0 25%;
                }
            }
            input[type="submit"] {
            // button {
                margin: 0;
                margin-left: 10px;
                flex: 0 0 10%;
            }
        }
    }

    .editor-play-buttons {}

    .editor-table-container {
        position: relative;
        overflow: auto;
        max-height: 280px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .editor-table {
            display: flex;
            flex-flow: column;
            .editor-table-row {
                display: flex;
                &.editor-table-row-last .editor-table-block {
                    border-bottom: 1px solid #00969c;
                }
                &.editor-table-row-highlighted {
                    background-color: #ececec;
                }
                .editor-table-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10px;
                    height: 10px;
                    border-top: 1px solid #00969c;
                    border-left: 1px solid #00969c;
                    &.editor-table-block-last {
                        border-right: 1px solid #00969c;
                    }
                    .editor-table-block-note {
                        width: 8px;
                        height: 8px;
                        border-radius: 2px;
                        background-color: #584d4c;
                        &.editor-table-block-note-first {
                            height: 10px;
                            position: relative;
                            top: 1px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            align-self: flex-end;
                        }
                        &.editor-table-block-note-middle {
                            height: 12px;
                            border-radius: 0;
                        }
                        &.editor-table-block-note-last {
                            height: 10px;
                            position: relative;
                            top: -1px;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            align-self: flex-start;
                        }
                    }
                }
                .editor-table-row-numbers {
                    position: absolute;
                    font-size: 8pt;
                    pointer-events: none;
                    &.left {
                        left: 1px;
                    }
                    &.right {
                        right: 2px;
                    }
                }
            }
        }

        .play-position {
            position: absolute;
            width: 100%;
            color: red;
            pointer-events: none;

            .play-position-caret {
                top: -9px;
                position: relative;
            }

            .play-position-line {
                position: absolute;
                border-bottom: 1px solid red;
                width: calc(100% - 5px);
                right: 0;
            }

        }

    }

}
