
#song-editor-container {
    margin-bottom: 10px;

    h5 {
        display: flex;
        align-items: center;

        button {
            margin-bottom: 0;
        }
        input {
            text-transform: none;
            border: 2px solid #594e4e;
            font-size: 11px;
            padding: 3px 4px 4px 4px;
            border-right-width: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        
        input + button {
            border-radius: 0;
            margin-right: 0;
            border-right-width: 0;
            position: relative;
        }
        input + button + button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            position: relative;
        }
        input + button:disabled,
        input + button + button:disabled {
            cursor: initial;
        }
        input + button:disabled > i,
        input + button + button:disabled > i {
            opacity: .5;
        }

        input + button:hover:before,
        input + button + button:hover:before {
            position: absolute;
            left: 50%;
            transform: translate(-50%, calc(-100% - 4px));
            top: 0;
            color: white;
            background: #584d4e;
            padding: 4px 8px;
            border-radius: 4px;
            white-space: nowrap;
            pointer-events: none;
        }
        input + button:hover:before,
        input + button + button:hover:before {
            content: attr(data-tooltip);
        }
    }

    .song-editor-controls {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        button {
            margin-bottom: 0;
        }
    }

    .song-editor-channels {
        display: flex;

        .channel-titles {
            flex: 0 0 10%;
            border: 1px solid #00969c;

            .channel-title {
                display: flex;
                height: 25px;
                border-bottom: 1px solid #bfe4e4;

                &:last-child {
                    border-bottom: none;
                }

                > :first-child {
                    flex: 0 0 35%;
                }

                > :last-child {
                    flex: 1;
                }

                > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .channel-patterns {
            flex: 1;
            max-width: 627px;
            overflow-x: scroll;
            display: flex;
            border: 1px solid #00969c;
            margin-left: 1px;

            > * {
                flex: 1;
            }

            .channel-pattern {
                height: 25px;
                border-bottom: 1px solid #bfe4e4;
                &:last-child {
                    border-bottom: none;
                }

                &.active {
                    background-color: #fafbf9;
                }

                .draggable-tune, .draggable-drum {
                    font-size: 7pt;

                    &.active {
                        background-color: #f3f3f3!important;
                        color: #c5c5c5!important;
                    }
                }
            }
        }

        .channel-fx-box {
            flex: 0 0 6%;
            margin-left: 1px;

            .channel-fx {
                margin: 0;
                height: 26px;

                &.active {
                    background-color: #dedede;
                }
            }

        }

    }

}

.droppable {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 5px;

    .draggable {
        height: 15px;
        border-radius: 2px;
        border: 1px solid;
        box-sizing: border-box;
    }

}

.beingdragged {
    opacity: 0.5;
}
