
#song-editor-container {
    margin-bottom: 10px;

    .song-editor-channels {
        display: flex;

        .channel-titles {
            flex: 0 0 10%;
            border: 1px solid #00969c;

            .channel-title {
                display: flex;
                height: 25px;
                border-bottom: 1px solid #bfe4e4;

                &:last-child {
                    border-bottom: none;
                }

                > :first-child {
                    flex: 0 0 35%;
                }

                > :last-child {
                    flex: 1;
                }

                > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .channel-tracks {
            flex: 1;
            max-width: 627px;
            overflow-x: scroll;
            display: flex;
            border: 1px solid #00969c;
            margin-left: 1px;

            > * {
                flex: 1;
            }

            .channel-track {
                height: 25px;
                border-bottom: 1px solid #bfe4e4;
                &:last-child {
                    border-bottom: none;
                }

                &.active {
                    background-color: #fafbf9;
                }

                .draggable-tune, .draggable-drum {
                    font-size: 7pt;

                    &.active {
                        background-color: #f3f3f3!important;
                        color: #c5c5c5!important;
                    }
                }
            }
        }

        .channel-fx-box {
            flex: 0 0 6%;
            margin-left: 1px;

            .channel-fx {
                margin: 0;
                height: 26px;

                &.active {
                    background-color: #dedede;
                }
            }

        }

    }

}

.droppable {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 5px;

    .draggable {
        height: 15px;
        border-radius: 2px;
        border: 1px solid;
        box-sizing: border-box;
    }

}

.beingdragged {
    opacity: 0.5;
}
